In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\RAJNEESH SINGH'

In [3]:
help(os.listdir)

Help on built-in function listdir in module nt:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [4]:
os.listdir('.') #relative path

['.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.pylint.d',
 '.vscode',
 '01_introduction_to_python_programming.ipynb',
 '3D Objects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'data',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Function and scope jovian.ml .ipynb',
 'Getting started with Numpy Code with harry.ipynb',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf',
 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Reading from and Writing to Files using Python.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'SkyDrive',
 'Start Menu',
 'Templates',
 'Videos']

In [5]:
os.listdir('/users') #absolute path

['All Users',
 'Default',
 'Default User',
 'desktop.ini',
 'Public',
 'RAJNEESH SINGH']

In [6]:
os.makedirs('./data',exist_ok=True)

In [7]:
'data' in os.listdir('.')

True

In [8]:
os.listdir('./data')

['loans1.txt', 'loans2.txt', 'loans3.txt']

In [9]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [10]:
from urllib.request import urlretrieve

In [11]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x1f8f5c6a520>)

In [12]:
urlretrieve(url2,'./data/loans2.txt')

('./data/loans2.txt', <http.client.HTTPMessage at 0x1f8f5d208b0>)

In [13]:
urlretrieve(url3,'./data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x1f8f5c70220>)

In [14]:
os.listdir('./data')

['loans1.txt', 'loans2.txt', 'loans3.txt']

In [15]:
file1=open('./data/loans1.txt',mode='r')

In [16]:
file1_contents = file1.read()

In [17]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [18]:
file2 = open('./data/loans2.txt',mode='r')

In [19]:
file2_content=file2.read()

In [20]:
print(file2_content)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [21]:
file1.close()

In [22]:
file2.close()

In [23]:
file1.read()

ValueError: I/O operation on closed file.

In [24]:
file2.read()

ValueError: I/O operation on closed file.

#### Closing files automatically using `with`

To close a file automatically after you've processed it, you can open it using the `with` statement.

In [24]:
with open('./data/loans2.txt') as file2:
    file2_contents=file2.read()
    print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [25]:
file2.read()

ValueError: I/O operation on closed file.

# Reading A file line by line

In [26]:
with open('./data/loans3.txt','r') as file3:
    file3_lines= file3.readlines()

In [27]:
file3_lines

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

# Processing data from files

The `strip` method removes any extra spaces and the newline character `\n`. The `split` method breaks a string into a list using the given separator (`,` in this case).

In [28]:
file3_lines[1].strip()

'45230,48,0.07,4300'

In [29]:
file3_lines[1].split()

['45230,48,0.07,4300']

In [30]:
def parse_header(header_line):
    return header_line.strip().split(',')

In [31]:
file3_lines[0]

'amount,duration,rate,down_payment\n'

In [32]:
headers = parse_header(file3_lines[0])

In [33]:
headers

['amount', 'duration', 'rate', 'down_payment']

Next, let's define a function parse_values that takes a line containing some data and returns a list of floating-point numbers.

In [34]:
def parse_value(data_line):
    values=[]
    for item in data_line.strip().split(','):
        values.append(float(item))
    return values

In [35]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [36]:
print(parse_value(file3_lines[1]))

[45230.0, 48.0, 0.07, 4300.0]

The values were parsed and converted to floating point numbers, as expected. Let's try it for another line from the file, which does not contain a value for the down payment.

In [37]:
file3_lines[2]

'883000,16,0.14,\n'

In [38]:
file3_lines[2].strip().split(',')

['883000', '16', '0.14', '']

In [39]:
parse_value(file3_lines[2])

ValueError: could not convert string to float: ''

The code above leads to a `ValueError` because the empty string `''` cannot be converted to a float. We can enhance the `parse_values` function to handle this *edge case*. We will also handle the case where the value is not a float.

In [ ]:
file3_lines[2].strip().split(',')

In [40]:
def parse_value(data_line):
    values=[]
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0) #floating number
        else:
            try:
                values.append(float(item))
            except ValueError:
                value.append(item)
    return values

In [41]:
file3_lines[5]

'3637400,240,0.06,\n'

In [42]:
parse_value(file3_lines[5])

[3637400.0, 240.0, 0.06, 0.0]

Next, let's define a function `create_item_dict` that takes a list of values and a list of headers as inputs and returns a dictionary with the values associated with their respective headers as keys.

In [44]:
def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

### built-in function zip example :

In [45]:
for item in zip(['a','b','c','d'],[1,2,3,4]):
    print(item)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [46]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [47]:
values1=parse_value(file3_lines[1])
values1

[45230.0, 48.0, 0.07, 4300.0]

In [48]:
values1 = parse_value(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

In [49]:
values2=parse_value(file3_lines[2])
values2

[883000.0, 16.0, 0.14, 0.0]

In [51]:
create_item_dict(values2,headers)

{'amount': 883000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0}

In [61]:
def read_csv(path):
    result=[]
    #open teh file in read mode
    with open(path,'r') as f:
        #get a list of lines
        lines = f.readlines()
        #parse the header
        headers = parse_header(lines[0])
        # loop over the remaining lines
        for data_line in lines[1:]:
            #parse the values
            values= parse_value(data_line)
            #create a dictionary using values & headers
            item_dict= create_item_dict(values,headers)
            #add the dictionary to the result
            result.append(item_dict)
    return result

In [56]:
with open('./data/loans2.txt','r') as file2:
    print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [62]:
read_csv('./data/loans2.txt')

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [64]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values=[]
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
            
        else:
            try :
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values,headers):
    result={}
    for value ,header in zip(values ,headers):
        result[header]=value
        
    return result

def read_csv(path):
    result=[]
    
    #open the file in read mode 
    with open(path,'r') as f:
        # get a lists o lines
        lines = f.readlines()
        #parse header
        headers=parse_header(lines[0])
        #loop over the remaining line s
        for data_line in lines[1:]:
            #parse values
            values = parse_values(data_line)
            #create a dictionary using value s& haeders
            item_dict = create_item_dict(values,headers)
            #add the dictionary to result
            result.append(item_dict)
            
        return result

In [65]:
import math

def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount=amount-down_payment
    try:
        emi= loan_amount * rate *((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount/duration
    emi= math.ceil(emi)
    return emi

In [66]:
loans2=read_csv('./data/loans2.txt')

In [67]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [68]:
for loan in loans2:
    loan['emi']= loan_emi (loan['amount'],
                          loan['duration'],
                          loan['rate']/12, 
                          loan['down_payment'])

In [69]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [87]:
def compute_emis(loans):
    for loan in loans:
        loan['emi']=loan_emi(loan['amount'],
                            loan['duration'],
                            loan['rate']/12,
                            loan['down_payment'])

In [88]:
loans2=read_csv('./data/loans2.txt')

In [89]:
compute_emis(loans2)

In [90]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

## Writing to files

Now that we have performed some processing on the data, it would be good to write the results back to a CSV file. We can create/open a file in w mode using open and write to it using the .write method. The string format method will come in handy here.

In [93]:
with open('./data/emis2.txt','w') as f:
    for loan in loans2 :
        f.write('{},{},{},{},{}\n'.format(
        loan['amount'],
        loan['duration'],
        loan['rate'],
        loan['down_payment'],
        loan['emi']))

In [94]:
os.listdir('data')

['emis2.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

In [96]:
with open('./data/emis2.txt','r')as f:
    print(f.read())

828400.0,120.0,0.11,100000.0,10034
4633400.0,240.0,0.06,0.0,33196
42900.0,90.0,0.08,8900.0,504
983000.0,16.0,0.14,0.0,67707
15230.0,48.0,0.07,4300.0,262

In [98]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [110]:
headers=(list(loans2[0].keys()))
','.join(headers)+'\n'

'amount,duration,rate,down_payment,emi\n'

In [141]:
def write_csv(items,path):
    #open the file in write mode 
    with open(path,'w') as f:
        #return if there is nothing to write 
        if len(items)==0:
            return
        
        #write the headers in the first line 
        headers = list(items[0].keys())
        f.write(','.join(headers)+'\n')
        
        #write one item per line 
        for item in items :
            values=[]
            for header in headers:
                values.append(str(item.get(header,"")))
            f.write(','.join(values)+"\n")

In [136]:
loans3=read_csv('./data/loans3.txt')

In [ ]:
loans3

In [138]:
compute_emis(loans3)

In [ ]:
loans3

In [164]:
write_csv(loans3,'./data/emis3.txt')

In [165]:
with open ('./data/emis3.txt','r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,981
883000.0,16.0,0.14,0.0,60819
100000.0,12.0,0.1,0.0,8792
728400.0,120.0,0.12,100000.0,9016
3637400.0,240.0,0.06,0.0,26060
82900.0,90.0,0.07,8900.0,1060
316000.0,16.0,0.13,0.0,21618
15230.0,48.0,0.08,4300.0,267
991360.0,99.0,0.08,0.0,13712
323000.0,27.0,0.09,4720010000.0,-193751447
528400.0,120.0,0.11,100000.0,5902
8633400.0,240.0,0.06,0.0,61853
12900.0,90.0,0.08,8900.0,60

In [133]:
os.listdir('./data')

['emis2.txt', 'emis3.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

In [148]:
for i in range(1,4):
    loans= read_csv('./data/loans{}.txt'.format(i))
    compute_emis(loans)
    write_csv(loans,'./data/loans{}.txt'.format(i))

In [149]:
os.listdir('./data')

['emis2.txt', 'emis3.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

In [154]:
with open('./data/loans1.txt') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
100000.0,36.0,0.08,20000.0,2507
200000.0,12.0,0.1,0.0,17584
628400.0,120.0,0.12,100000.0,7582
4637400.0,240.0,0.06,0.0,33224
42900.0,90.0,0.07,8900.0,487
916000.0,16.0,0.13,0.0,62664
45230.0,48.0,0.08,4300.0,1000
991360.0,99.0,0.08,0.0,13712
423000.0,27.0,0.09,47200.0,15428

In [155]:
loans1=read_csv('./data/loans1.txt')

In [157]:
compute_emis(loans1)

In [162]:
write_csv(loans1,'./data/emis1.txt')

In [163]:
os.listdir('./data')

['emis1.txt',
 'emis2.txt',
 'emis3.txt',
 'loans1.txt',
 'loans2.txt',
 'loans3.txt']

## Using Pandas to Read and Write CSVs

In [166]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [167]:
urlretrieve(movies_url,'data/movies.csv')

('data/movies.csv', <http.client.HTTPMessage at 0x1f8f5e5c790>)

In [168]:
movies=read_csv('./data/movies.csv')

In [169]:
movies

[{'title': 'Fast & Furious', 'description': '"A movie'},
 {'title': 'The Dark Knight', 'description': '"Gotham'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [170]:
!pip install pandas --upgrade --quiet

In [171]:
import pandas as pd

In [172]:
movies_dataframe = pd.read_csv('data/movies.csv')

In [173]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [175]:
movies= movies_dataframe.to_dict('records')

In [176]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [177]:
movies_dict=movies_dataframe.to_dict()

In [178]:
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

In [179]:
write_csv(movies,'movies2.csv')

In [182]:
!head movies2.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [183]:
pd.read_csv('movies2.csv')

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN

In [186]:
df2=pd.DataFrame(movies)

In [188]:
df2

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [190]:
df2.to_csv('movies3.csv',index=None)

In [194]:
! movies3.csv

In [195]:
pd.read_csv('movies3.csv')

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes